.icon-rwby01 {
  background: url('image/rwby.png');
}

.icon-rwby02 {
  background: url('../image/rwby.png');
}

.icon-rwby03 {
  background: url('/image/rwby.png');
}

.icon-rwby04 {
  background: url('//www.abc.com/image/rwby.png');
}

.icon-rwby05 {
  background: url(  '//www.abc.com/image/rwby.png'  );
}

.icon-rwby06 {
  background: url(' //www.abc.com/image/rwby.png  ');
}

.icon-rwby07 {
  background: url(//www.abc.com/image/rwby.png);
}

.icon-rwby08 {
  background: url(//www.abc.com/image/rwby.png);
}

.icon-rwby09 {
  background: url('\abc');
}
